body{
	text-align: center;
}
.button {
    background-color: #F9F9F9; 
    border: none;
    color: black;
    padding: 15px 32px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-style: solid;
    border-width: 1px;
}

.displayNumbers{
	width: 60%;
	margin: auto;
}

.even{
	background-color: #F9F9F9;
}